body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    margin: 0;
    padding: 0;
}

.header {
    background-color: #333;
    color: rgb(242, 255, 0);
    text-align: center;
    padding: 20px;
}

#date {
    font-style: normal;
    margin-top: 3px;
    color: rgb(113, 113, 191);
}

.navigation {
    background-color: #444;
    padding: 10px;
    text-align: center;
}

.navigation a {
    color: white;
    margin: 0 15px;
    text-decoration: none;
    font-weight: bold;
}

.top-breaking-news {
    background-color: #e60000;
    color: white;
    padding: 10px;
    text-align: center;
}

main {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.news-articles {
    margin-bottom: 20px;
}

.headline {
    color: #e60000;
    font-size: 28px;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
    position: sticky;
    bottom: 0;
    width: 100%;
}

button.playSound {
    cursor: pointer;
    background-color:chartreuse;
    font-size: 15px;
    padding: 10px 20px;
    color: white;
    border: none;
    border-radius: 10px;
    transition: background-color 0.3s;
}

button.playSound:hover {
    background-color:#fff200;
}

button.read-more-btn {
    background-color: #fff200;
    color: rgb(4, 4, 4);
    border: none;
    padding: 15px 15px;
    font-weight: bold;
    cursor: pointer;
    
}

button.read-more-btn:hover {
    background-color: #c70000;
}
