*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto Mono', monospace;
}

.main{
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)),url(images/contact.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

nav{
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;
}
nav img{
    width: 150px;
}

.redirect{
    flex: 1;
    text-align: right;
}
.redirect ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}
.redirect ul li a{
    color: #ffff;
    text-decoration: none;
    font-size: 13px;
}
.redirect ul li::after{
    content: '';
    width: 0%;
    height: 2px;
    background: #08f300;
    display: block;
    margin: auto;
    transition: 0.5s;
}
.redirect ul li:hover::after{
    width:100%
}

form{
    background: #fff;
    display: flex;
    flex-direction: column;
    padding: 4vw 4vw;
    width: 100%;
    max-width: 650px;
    border-radius: 15px;
}
form h3{
    color: #272727;
    font-weight: 1000;
    margin-bottom: 30px;
}

form input, form textarea{
    border: 0;
    margin: 12px 0;
    padding: 18px;
    outline: none;
    background: #f5f5f5;
    font-size: 15px;
}

form button{
    padding: 14px;
    background: #39fd39;
    color: #fff;
    font-size: 16px;
    border: 10px;
    outline: none;
    cursor: pointer;
    width: 165px;
    margin: 20px auto 0;
    border-radius: 20px;
}

